.contact {
  text-align: center;
  background: linear-gradient(90deg, #527af2 0%, #7786d9 100%);
  padding-top: 20rem;
  padding-bottom: 7rem;
}

.text-contact {
  font-size: 2rem;
  font-weight: 300;
  color: #eff3f8;
}
